<!-- <p>login works! //inicio</p> -->


<div class="container">
  <div class="row">
    <div class="col-3"></div>
        <div class="col-5 p-4 position-fixed top-50 start-50 translate-middle containerForm">
          <div class="d-flex justify-content-center text-center">
            <h1>LOGIN</h1>
          </div>
          <div class="logo d-flex justify-content-center">
            <img src="../../../assets/img/logo transparente ng.png"alt="" class="img">
          </div>

          
            <form id="form">
              <div class="mb-3">
                <label for="InputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="InputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="password">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div>
              <button type="submit" class="btnEffects w-100 btn-primary opacity-75 shadow-lg p-2 bg-secondary text-white" id="btnSubmit">Submit</button>
            </form>
            <div class="alert  w-100 text-center">
              ¿Don't have an account? <a href="../../auth/signup/signup.component.html" class="alert-link">Register here</a>.
       </div>
            
      </div>
      </div>
</div>

