


.fs-4{
    color: white;
    height: 40px;
    margin: 10px;
}
.fs-4:hover {
    transform: scale(1.1);
   color: rgb(9, 9, 134);
   background-color: transparent;
}

.menu{
  display: flex;
  justify-content: center;
}

